[Unit]
Description=POST Participants MAC Addresses to %I
# Stop 5sec if restart 2 times in 5sec.
StartLimitBurst=2
StartLimitIntervalSec=5

[Service]
Type=oneshot
ExecStart=<ProjectHome>/shellScript/participant-app.sh %i

